$imp: !important;
$full-white: rgba(250, 250, 250, 1);
$txt-s: 1px 3px 4px;
$txt-shadow-l: $txt-s rgba(250, 250, 250, 0.8);
$txt-shadow-l1: $txt-s rgba(230, 230, 230, 0.8);
$txt-shadow-l2: $txt-s rgba(200, 200, 200, 0.8);
$txt-shadow-l3: $txt-s rgba(150, 150, 150, 0.8);
$txt-shadow-l4: $txt-s rgba(100, 100, 100, 0.8);
